.form-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 15px;

    label {
        width: 150px;
        
        font-weight: bold;

        color: gray;
    }

    .inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: flex-start;
        gap: 5;

        margin-left: 15px;

        .errors {
            width: 100%;

            margin-top: 5px;
        
            padding: 10px;
        
            background-color: rgba(red, 0.2);
        }
    }
}

.form-field-input {
    width: 300px;

    padding: 10px;

    border: none;
    border-radius: 5px;

    background-color: whitesmoke;

    outline: none;
}