<div class='form-wrapper'>
    <form (ngSubmit)='onSubmitNew()' [formGroup]='form'>

        <div *ngFor='let singleInput of allInputs'>

            <app-form-input [input]='singleInput' [form]='form' [formError]='formError' [sendingMail]='sendingEmail'></app-form-input>   

        </div>
                    
        <button [attr.disabled] = "sendingEmail ? 'disabled' : null">Submit</button>

        <h3 *ngIf='showUserMessage' class='final-message'>{{ userMessage }}</h3>
        <h3 *ngIf='showUserError' class='final-message final-error'>{{ userError }}</h3>
    </form>
</div>
