.form-wrapper {
    padding: 20px;

    width: 500px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        width: 100px;
    
        padding: 10px;
        margin-top: 55px;
    
        border: none;
        border-radius: 5px;

        outline: none;
    
        background-color: orange;
    
        cursor: pointer;

        transition: all 0.2s;

        &:hover {
            background-color: rgba(orange, 0.8);
        }
    }
}


.error {
    margin-left: 10px;

    p {
        font-size: 13px;

        color: red;
    }
}

.final-message {
    margin-top: 20px;
}
.final-error {
    color: red;
}
